.color-picker {
  flex: 1;
}

.color-display {
  flex: 1;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.color-box {
  width: 120px;
  height: 120px;
  border: 2px #999;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

#lesson-title {
  font-family: 'Comic Sans MS', cursive;
  font-size: 32px;
  margin-bottom: 10px;
}

.instructions {
  color: #555;
  margin-bottom: 20px;
}

.prev-button {
  margin-left: 0;  /* Align to the left */
}

.next-button {
  margin-right: 0;  /* Align to the right */
}

.lesson-image{
  width:200px;
}