
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FAF0E6;
  color: #333;
}

.color-picker {
  flex: 1;
}

.instructions{
  font-size: 20px;
}

.color-display {
  flex: 1;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.color-box {
  width: 120px;
  height: 120px;
  border: 2px #999;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

#lesson-title {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 600;
}

.instructions {
  color: #555;
  margin-bottom: 20px;
  font-size: 20px;
}

.prev-button {
  margin-left: 0;  /* Align to the left */
}

.next-button {
  margin-right: 0;  /* Align to the right */
}

.lesson-image{
  width:200px;
}

.lesson-description{
  padding-top: 100px;
}

.colorboxes{
  /* padding-top: 70px; */
}

.paddingbw{
  margin-top: 10px;
}

.learn-descriptions{
  margin-top: 30px;
}

.descrition-title{
  font-size: 30px;
}

.description-content{
  font-size: 20px;
  color: #242424;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-color:#d0d0d0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e7e7e7;
}

#prev-button, #next-button {
  display: inline-block;
}

#prev-button {
  text-align: left;
}

#next-button button {
  background-color: #007BFF; /* Bootstrap blue */
  color: white;
  border: none;
}

#next-button button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.learn-big-box{
  padding-top:60px;
  padding-bottom:50px;
  background-color:white;
  border-radius:15px;
  width: fluid;
}